#sample{
    text-align: center;
    color: aqua;
}
body{
    background-color: black;
    touch-action: none;
}
h1{
    color: white;
    font-size: 5vw;
    @media(min-width: 600px){
        font-size: 2.5vw;
    }
}
footer{
    background-color: rgb(39, 43, 43);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container div{
    color: white;
}
#maincanvas{
    background-color: rgb(40, 53, 52);
}
footer div{
    font-size: 1.3vw;
    @media (max-width: 600px){
        font-size: 2vw;
    }
}
.non_stretch{
    align-self: center;
    width: 10%;
    @media(min-width: 600px){
        width: 6%;
    }
}
.whitelink{
    color: white;
    
}
#UI{
    font-size: 20px;
    @media (max-width: 600px){
        font-size: 13px;
    }
    display: flex;
    flex-direction: column;
}
#UI button{
    @media (min-width: 600px){
        height: 45px;
        font-size: 23px;
        margin: 4px;
    }
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 6px 12px rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}
#UI button:hover{
    background: rgba(110, 110, 110, 0.2);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 6px 12px rgba(255, 255, 255, 0.1);
}
#UI button:active{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.25);
}
#UI p{
    margin-top: 0vw;
    margin-bottom: 0vw;
}
#credit {
    display: flex;
    flex-direction: column;
}
#credit p{
    margin: 2px;
}
#nextcanvas{
    background-color: white;
}
#flexcanvas{
    display: flex;
}